<!-- <h1>
  Hello my name is {{ name }} <br>
  I am {{ user.age }} years old <br>
</h1>

<input [type]="inputType">
<button type="button" (click)="handler()">Click Me</button>

<input type="text" [ngModel]="name" (ngModelChange)="name = $event"> -->


<!-- <hello *ngIf="user.age >= 18;else under18" [name]="user.name"></hello>

<ng-template #under18>
  <div *ngIf="user.age < 18">
    <h1>Sorry you are not old enough</h1>
  </div>
</ng-template>

<button (click)="user.age = user.age - 1">-</button>
Age: {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>


<ul>
  <li *ngFor="let u of users; let i = index; even as en">
    is Even {{en}}  {{ u.name }} - {{ u.id }} - {{ u.phone }}
  </li>
</ul> -->


<!-- <button (click)="isDanger = !isDanger">Toggle Danger</button>
<button (click)="isWarning = !isWarning">Toggle Warning</button> -->

<!-- <div class="box" [class.danger]="isDanger" [class.warning]="isWarning"></div> -->
<!-- <div class="box" [class]="{'danger': isDanger, 'warning': isWarning}"></div> -->

<!-- <button (click)="currentProgress = currentProgress + 3">Inscrease progress + 3</button> -->
<!-- <app-progress-bar></app-progress-bar> -->
<!-- <app-progress-bar [progress]="currentProgress"></app-progress-bar> -->


<!-- <app-author-list></app-author-list> -->

<app-author-list></app-author-list>

<h1>Hello {{username}}</h1>
<input type="text" [(ngModel)]="username" (ngModelChange)="username = $event">

<!-- <app-custom-twoway-binding [(checked)]="checked"></app-custom-twoway-binding> -->
<app-custom-twoway-binding-copy [(checked)]="checked" #toggleComp></app-custom-twoway-binding-copy>


<button (click)="toggleComp.toggle()">Toggle me</button>
